.LeftPanel22  {
  width: 250px;
float: left;
  }
.esdp{
  width: 1150px;
  margin: auto;
padding-bottom: 21px;

}
.goldline {
width: 1000px;
display: block;
border-bottom: 2px solid #d11a88;
margin: auto;
margin-bottom: 31px;
}

.designer-listingarea-box {
float: left;
    background: #fff;
    margin-bottom: 10px;
    width: 491px;
}
#img-gallery {
    width: 527px;
    height: auto;
    margin: 0;
    padding: 0px;
    float: left;
}

#img-gallery .big-1 {
  width: 480px;
    height: 479px;
    text-align: center;
    float: left;
    margin: 0 11px;
    padding: 5px;
    border: 1px solid #e1e1e1;
}

#img-gallery #big-img {
    width: 259px;
    height: 257px;
    padding: 0px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.big-resize {
     height: auto;
    max-height: 482px;
    max-width: 420px;
    width: auto;
    width: 535px;
    padding-left: 22px;
}

#img-gallery ul {
width: 80px;
padding: 0;
margin: 40px 0;
float: left;
}

#img-gallery ul li {
position: relative;
float: left;

list-style: none;
margin: 0;
text-align: center;
}

#img-gallery ul li:empty {
display: none!Important;
}

#img-gallery ul li.lastthumb {
margin: 0px;
float: left;
margin: 0;
display: inline-block;
list-style: none;
}

#img-gallery ul li img {
padding: 4px;
margin: 0 0 6px 0;
}

#img-gallery ul li.lastthumb img {
margin: 0px;
}
.addtocart {
text-align:center;
background:#404041;
    padding: 1px;
    line-height: 6px;
    vertical-align: middle;
    padding-top: 1px;
    color: white;
    border-radius: 3px;
    margin-top: 14px;
    margin-bottom: 10px;
    cursor: pointer;
}
.addtocart p a{
text-align:center;
    padding: 1px;
    line-height: 6px;
    vertical-align: middle;
    padding-top: 1px;
    color: white;
    border-radius: 3px;
    margin-top: 14px;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
}

.product-title {
width: 425px;
margin-top: 10px;
position: relative;
float: right;
margin-right: 20px;
}

.product-title p {
font-size: 14px;
font-weight: bold;
    font-family: sans-serif;
}
.nknkn{
  display: inline-block;
  padding-top: 10px;
}



