@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('ebaydefault.css');
@charset "utf-8";
body {
    padding: 0;
    margin: 0;
o box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
body, td, .g-std {
    font-family: 'Lato', sans-serif !Important;
    font-size: 16px;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
p {
    margin-bottom: 0;
}
a, a:hover {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, ul, li, ol {
    margin: 0;
    padding: 0;
}
.visible-desktop {
    display: block;
}
.pst-clear {
    clear: both;
}
.no-padding {
    padding-left: 0px;
    padding-right: 0;
}
.no-margin {
    margin-left: 0px;
    margin-right: 0;
}

@media (min-width: 1200px) {
.container {
    padding-left: 0;
    padding-right: 0;
}
#pst-header .container-fluid {
    padding-left: 0;
    padding-right: 0;
}
#pst-header .row {
    margin-left: 0;
    margin-right: 0;
}
}
/* HEADER STARTS */
#pst-header {
}
.pst-logo {
    display: block;
    text-align: center;
    margin: 50px 0 36px;
}
.pst-logo img {
    display: inline-block;
}
.pst-banner {
    text-align: center;
}
.pst-banner img {
    display: inline-block;
    width: 100%;
}
/* HEADER SEARCH STARTS */
#pst-search {
    background-color: #FFFFFF;
    width: 100%;
    height: 40px;
    margin: 0 0 15px;
    border-radius: 22px;
}
#pst-search input {
    background-color: transparent;
    line-height: 40px;
    height: 40px;
    float: left;
    width: 85%;
    border: none;
    text-align: left;
    font-size: 14px;
    color: #000000;
    text-indent: 20px;
    padding: 0;
}
::-webkit-input-placeholder {
 color: #000000;
 opacity: 1 !important; /* for older chrome versions. may no longer apply. */
}

::-moz-placeholder {  /* Firefox 19+ */
 color: #000000;
 opacity: 1 !important;
}

:-ms-input-placeholder {
 color: #000000;
}
#pst-search button {
    width: 15%;
    height: 40px;
    border: none;
    background-color: transparent;
    float: right;
    color: #000000;
    font-size: 14px;
    display: block;
    border-left: 0;
    text-align: center;
}
#pst-search button:hover {
    color: #B5B5B5;
    transition: 0.3s all ease-in-out;
}
/* HEADER SEARCH END */

/* HEADER END */

/* LEFT START */
.pst-left {
    margin-top: 0;
    margin: 0 auto;
    width: 270px;
}
/*---Left Column->START*/


/* LEFT END */
table.v4acp tr.v4acp_head td.v4hspacer {
    width: 0px;
}
.pagecontainer table tr td table:nth-child(2) {
    display: table;
    margin: 15px auto 0;
    padding: 0 0px;
    text-align: left;
    width: 100%;
    max-width: 1170px;
}
#gh, .tb_v4bc, .whiter-rcp {
    background-color: #FFFFFF;
}
#glbfooter {
    margin-top: 0 !important;
}

@media only screen and (max-width:1200px) {
#pst-search input {
}
#pst-search button {
}
.v4title h2 {
}
#pst-search {
}
.newslatter {
    margin-top: 60px;
}
.top-promo {
    margin-top: 10px;
}
.top-promo ul li {
    padding: 0 25px;
    font-size: 18px;
}
#pst-search {
    margin-top: 0;
}
.header-bottom {
    background-size: 100% 100%;
}
}

@media only screen and (max-width:991px) {

#pst-search input {
    text-indent: 10px;
}
#pst-search button {
}
.top-promo {
    height: 85px;
}
.top-promo ul li {
    padding: 0 10px;
    font-size: 16px;
    height: 65px;
    line-height: 65px;
}
.header-bottom {
    background-size: 100% 100%;
}
}

@media only screen and (max-width:768px) {
body {
    font-size: 14px;
    background-size: 100% 100%;
}
table.tb_v4bc, .ctrlbr, .stBadge, td#CentralArea div.v4stabl, #glbfooter {
    display: none;
}
.visible-desktop {
    display: none;
}
.pst-logo {
    text-align: center;
    margin: 25px 0 15px !important;
}
.store-pages, .left-box, .payment, .newslater, .left-shipping {
    display: none;
}
.pst-left {
    margin-top: 0px;
}
#pst-header .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
}
}

@media only screen and (max-width: 480px) {
}
