#essHeaderContainer *,
#cstm-home *,
#ess-foot *,
#LeftPanel *,
td#CentralArea,
td#CentralArea * {
    font-family: 'Open Sans', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
img,
a {
    outline: none;
    border: 0;
}
.gh-w {
    padding-bottom: 0;
}
div.v4bc {
    margin: 0;
    padding: 5px 0;
}
div.v4sem {
    margin: 0;
    padding: 5px 0;
}
table.tb_v4bc tr td {
    padding: 0;
}
table.tb_v4bc {
    background-color: #fff;
}
.pagecontainer p {
    margin: 0;
}
#glbfooter {
    border-top: none;
    padding-left: 0;
    padding-right: 0;
}
.stBadge {
    margin: 0;
    padding: 0;
    border: 0;
}
.userNote {
    text-align: center;
}
.bx-wrapper {
    position: relative;
}
.stretch {
    width: 100%;
    float: left;
}
.eclear {
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    text-indent: -9999px;
    white-space: nowrap;
}
a,
#topSearch input.search-text,
#searchbtn {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    text-decoration: none;
}
/* Selection Color */

::-moz-selection {
    background: #eee;
    color: #666;
    text-shadow: none;
}
::selection {
    background: #eee;
    color: #444;
    text-shadow: none;
}
/*
-----------------------------------------------------------------------------------
ESS Block Title
-----------------------------------------------------------------------------------*/

.block-title,
td#CentralArea div.fpcc,
#LeftPanel td.v4title,
td#CentralArea div.fpcc {
    font-weight: bolder;
    height: 36px;
    line-height: 36px;
    background: #000000;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 12px;
    margin: 0;
    border: 0;
}
#LeftPanel .shop-catz td.v4title {} .block-title span,
td#CentralArea div.fpcc div {
    display: block;
    font-size: 13px;
}
#LeftPanel td.v4title * {
     font-weight: bolder;
    color: #fff;
    font-size: 18px!important;
    display: block;
    text-indent: 9px;
}
/*
-----------------------------------------------------------------------------------
ESS Left column
-----------------------------------------------------------------------------------*/

#LeftPanel {
    width: 230px!important;
    height: auto;
}

#LeftPanel .v4acpcont {
    margin: 0 0 15px;
}
#LeftPanel .v4midBox {
    border: 1px solid #e6e6e6;
    border-top: 0;
    background: #fff;
}
#LeftPanel .v4mid {
    padding: 0;
    background: none;
}
#LeftPanel .v4nl {
    padding: 10px;
}
#LeftPanel .v4accent,
#LeftPanel .v4hspacer,
#LeftPanel .v4baccent,
#LeftPanel .v4vspacer {
    width: 0px!important;
    height: 0px!important;
    background: none;
}
#LeftPanel .lcat {
    font-size: 13px;
    width: auto;
}
#LeftPanel .link br {
    display: none;
}
#LeftPanel .lcat .ttl {
    display: none;
}
#LeftPanel .lcat ul,
#LeftPanel .oc ul,
#LeftPanel .oc {
    margin: 0;
    padding: 0;
}
#LeftPanel .lcat ul li,
#LeftPanel .oc ul li {
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    border-bottom: 1px solid #e6e6e6;
}
#LeftPanel .lcat ul li a,
#LeftPanel .oc ul li a,
#LeftPanel .lcat ul li span {
    display: block;
    font-weight: 600;
    padding: 8px 10px;
    padding-left: 20px;
    font-size: 11px;
    text-transform: none;
}
#LeftPanel .lcat ul li a:hover,
#LeftPanel .oc ul li a:hover {
    text-decoration: none;
    background-color: #EEF8FF;
}
#LeftPanel .lcat ul li,
#LeftPanel .lcat ul li span {
    font-weight: bolder;
    color: #444;
}
#LeftPanel .lcat .cnt {
    display: none;
    background: #eee;
    padding: 0;
    position: absolute;
    right: 8px;
    top: 30%;
    color: #555;
    font-weight: normal;
    font-size: 10px;
    width: 20px;
    border-radius: 20px;
    text-align: center;
}
#LeftPanel .lcat a.all_cats,
#LeftPanel .link a {
    text-decoration: none!important;
    color: #40111e;
    margin: 5px 0;
    padding: 5px 10px;
}
#LeftPanel .lcat .lev1 li a {
    color: #004579;
    font-weight: bolder;
}
#LeftPanel .lcat .lev2 {} #LeftPanel .lcat .lev2 li {
        text-indent: 8px;
}
#LeftPanel .lcat .lev2 li a {
    color: #464646;
    font-size: 11px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: normal;
}


/*
-----------------------------------------------------------------------------------
ESS right column
-----------------------------------------------------------------------------------*/

.pagewidth .fpcc .smuy span.matchClass {
    font-family: 'Rubik', sans-serif !important;
    font-weight: normal;
    color: #ffffff;
    font-size: 1em;
}
.pagewidth .fpcc .smuy span.keywordClass {
    font-family: 'Rubik', sans-serif !important;
    font-family: inherit;
    font-weight: normal;
    color: #ffffff;
    font-size: 1em;
    background-color: transparent !important;
    white-space: nowrap;
    cursor: default;
    margin: 0;
    display: inline;
}

.pagewidth .fpcc .smuy span.countClass {
    font-family: 'Rubik', sans-serif !important;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bolder;
}

table.gallery .mi {
    padding: 4px 10px 0;
    display: none;
}
.pagewidth td#CentralArea div.v4stabl {
    float: right;
    padding-right: 24px;
    position: relative;
    right: 0px;
    text-align: right;
    top: 31px;
    width: 500px;
    font-size: 13px;
    color: #ffffff !important;
}
.pagewidth div.r3_cm div.rs_box div.ctrlbr span.pdmt span {
    color: #111111;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400 !important;
}

.pagewidth div.r3_cm div.rs_box div.ctrlbr span.pdmt span.label {
    padding-right: 0px;
    font-weight: 400;
}
.pagewidth div.r3_cm div.rs_box div.ctrlbr span.pdmt span.cur {
    position: relative;
    padding: 5px 16px 5px 0px;
}
.grid td.gallery:first-child {
    margin-left: 0px !important;
}
.pagewidth td.gallery {
    padding-top: 0;
    margin-bottom: 15px;
    background-color: #FFFFFF;
    padding: 10px;
    margin-left: 7px;
}
td.gallery {
    width: 32% !important;
}
td.gallery {
    display: block;
    float: left;
    margin: 0;
}
.pagewidth table.gallery {
    padding: 0px;
    height: 370px;
    min-height: 370px;
    background-color: #fff;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border: 1px solid #dcdcdc;
}
table.gallery td.picture {
    height: 220px;
    margin: 0 auto;
    padding: 40px 0 !important;
    text-align: center !important;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    width: 100%;
}
table.gallery table.fixed tbody tr td img {
    margin-top: 6px;
}
table.gallery img {
    border: 0;
    vertical-align: top;
    margin: 0;
    max-height: 142px;
    max-width: 147px;
}
table.gallery table.fixed tr td .bin.g-b {
    font-family: 'Rubik', sans-serif !important;
    text-align: right;
    display: block;
    font-weight: normal;
    color: #00b6e8;
    font-size: 14px;
}
table.gallery table.fixed span.oriprs, table.gallery table.prices span.oriprs, table.gallery table.fixed span.disct, table.gallery table.prices span.disct {
    display: none;
}
table.gallery table.fixed span.disct, table.gallery table.prices span.disct {
    margin-top: 4px;
    display: none;
}
table.gallery table.fixed tr td {
    display: table-cell;
    width: 50% !important;
}
div.itemseparator {
    border: 0;
    display: none;
}
#CentralArea {
    font-family: 'Open Sans', sans-serif !important;
    display: block;
    border: none;
}
.pagewidth td#CentralArea div.v4stabl {
    float: right;
    padding-right: 24px;
    position: relative;
    right: 0px;
    text-align: right;
    top: 31px;
    width: 500px;
    font-size: 13px;
    color: #ffffff !important;
}

.pagewidth div.r3_cm {
    clear: both;
    border: 1px solid #e6e6e6;
    border-top: 0;
}
