#essHeaderContainer *,
#cstm-home *,
#ess-foot *,
#LeftPanel *,
td#CentralArea,
td#CentralArea * {
    font-family: 'Open Sans', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
img,
a {
    outline: none;
    border: 0;
}
.gh-w {
    padding-bottom: 0;
}
div.v4bc {
    margin: 0;
    padding: 5px 0;
}
div.v4sem {
    margin: 0;
    padding: 5px 0;
}
table.tb_v4bc tr td {
    padding: 0;
}
table.tb_v4bc {
    background-color: #fff;
}
.pagecontainer p {
    margin: 0;
}
#glbfooter {
    border-top: none;
    padding-left: 0;
    padding-right: 0;
}
.stBadge {
    margin: 0;
    padding: 0;
    border: 0;
}
.userNote {
    text-align: center;
}
.bx-wrapper {
    position: relative;
}
.stretch {
    width: 100%;
    float: left;
}
.eclear {
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    text-indent: -9999px;
    white-space: nowrap;
}
a,
#topSearch input.search-text,
#searchbtn {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    text-decoration: none;
}
/* Selection Color */

::-moz-selection {
    background: #eee;
    color: #666;
    text-shadow: none;
}
::selection {
    background: #eee;
    color: #444;
    text-shadow: none;
}
/*
-----------------------------------------------------------------------------------
ESS Block Title
-----------------------------------------------------------------------------------*/

.block-title,
td#CentralArea div.fpcc,
#LeftPanel td.v4title,
td#CentralArea div.fpcc {
    font-weight: bolder;
    height: 36px;
    line-height: 36px;
    background: #000000;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 12px;
    margin: 0;
    border: 0;
}
#LeftPanel .shop-catz td.v4title {} .block-title span,
td#CentralArea div.fpcc div {
    display: block;
    font-size: 13px;
}
#LeftPanel td.v4title * {
     font-weight: bolder;
    color: #fff;
    font-size: 18px!important;
    display: block;
    text-indent: 9px;
}
/*
-----------------------------------------------------------------------------------
ESS Left column
-----------------------------------------------------------------------------------*/

#LeftPanel {
    width: 230px!important;
    height: auto;
}

#LeftPanel .v4acpcont {
    margin: 0 0 15px;
}
#LeftPanel .v4midBox {
    border: 1px solid #e6e6e6;
    border-top: 0;
    background: #fff;
}
#LeftPanel .v4mid {
    padding: 0;
    background: none;
}
#LeftPanel .v4nl {
    padding: 10px;
}
#LeftPanel .v4accent,
#LeftPanel .v4hspacer,
#LeftPanel .v4baccent,
#LeftPanel .v4vspacer {
    width: 0px!important;
    height: 0px!important;
    background: none;
}
#LeftPanel .lcat {
    font-size: 13px;
    width: auto;
}
#LeftPanel .link br {
    display: none;
}
#LeftPanel .lcat .ttl {
    display: none;
}
#LeftPanel .lcat ul,
#LeftPanel .oc ul,
#LeftPanel .oc {
    margin: 0;
    padding: 0;
}
#LeftPanel .lcat ul li,
#LeftPanel .oc ul li {
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    border-bottom: 1px solid #e6e6e6;
}
#LeftPanel .lcat ul li a,
#LeftPanel .oc ul li a,
#LeftPanel .lcat ul li span {
    display: block;
    font-weight: 600;
    padding: 8px 10px;
    padding-left: 20px;
    font-size: 11px;
    text-transform: none;
}
#LeftPanel .lcat ul li a:hover,
#LeftPanel .oc ul li a:hover {
    text-decoration: none;
    background-color: #EEF8FF;
}
#LeftPanel .lcat ul li,
#LeftPanel .lcat ul li span {
    font-weight: bolder;
    color: #444;
}
#LeftPanel .lcat .cnt {
    display: none;
    background: #eee;
    padding: 0;
    position: absolute;
    right: 8px;
    top: 30%;
    color: #555;
    font-weight: normal;
    font-size: 10px;
    width: 20px;
    border-radius: 20px;
    text-align: center;
}
#LeftPanel .lcat a.all_cats,
#LeftPanel .link a {
    text-decoration: none!important;
    color: #40111e;
    margin: 5px 0;
    padding: 5px 10px;
}
#LeftPanel .lcat .lev1 li a {
    color: #004579;
    font-weight: bolder;
}
#LeftPanel .lcat .lev2 {} #LeftPanel .lcat .lev2 li {
        text-indent: 8px;
}
#LeftPanel .lcat .lev2 li a {
    color: #464646;
    font-size: 11px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: normal;
}


/*
-----------------------------------------------------------------------------------
ESS right column
-----------------------------------------------------------------------------------*/

.pagewidth .fpcc .smuy span.matchClass {
    font-family: 'Rubik', sans-serif !important;
    font-weight: normal;
    color: #ffffff;
    font-size: 1em;
}
.pagewidth .fpcc .smuy span.keywordClass {
    font-family: 'Rubik', sans-serif !important;
    font-family: inherit;
    font-weight: normal;
    color: #ffffff;
    font-size: 1em;
    background-color: transparent !important;
    white-space: nowrap;
    cursor: default;
    margin: 0;
    display: inline;
}

.pagewidth .fpcc .smuy span.countClass {
    font-family: 'Rubik', sans-serif !important;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bolder;
}

table.gallery .mi {
    padding: 4px 10px 0;
    display: none;
}
.pagewidth td#CentralArea div.v4stabl {
    float: right;
    padding-right: 24px;
    position: relative;
    right: 0px;
    text-align: right;
    top: 31px;
    width: 500px;
    font-size: 13px;
    color: #ffffff !important;
}
.pagewidth div.r3_cm div.rs_box div.ctrlbr span.pdmt span {
    color: #111111;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400 !important;
}

.pagewidth div.r3_cm div.rs_box div.ctrlbr span.pdmt span.label {
    padding-right: 0px;
    font-weight: 400;
}
.pagewidth div.r3_cm div.rs_box div.ctrlbr span.pdmt span.cur {
    position: relative;
    padding: 5px 16px 5px 0px;
}
.grid td.gallery:first-child {
    margin-left: 0px !important;
}
.pagewidth td.gallery {
    padding-top: 0;
    margin-bottom: 15px;
    background-color: #FFFFFF;
    padding: 10px;
    margin-left: 7px;
}
td.gallery {
    width: 32% !important;
}
td.gallery {
    display: block;
    float: left;
    margin: 0;
}
.pagewidth table.gallery {
    padding: 0px;
    height: 370px;
    min-height: 370px;
    background-color: #fff;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border: 1px solid #dcdcdc;
}
table.gallery td.picture {
    height: 220px;
    margin: 0 auto;
    padding: 40px 0 !important;
    text-align: center !important;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    width: 100%;
}
table.gallery table.fixed tbody tr td img {
    margin-top: 6px;
}
table.gallery img {
    border: 0;
    vertical-align: top;
    margin: 0;
    max-height: 142px;
    max-width: 147px;
}
table.gallery table.fixed tr td .bin.g-b {
    font-family: 'Rubik', sans-serif !important;
    text-align: right;
    display: block;
    font-weight: normal;
    color: #00b6e8;
    font-size: 14px;
}
table.gallery table.fixed span.oriprs, table.gallery table.prices span.oriprs, table.gallery table.fixed span.disct, table.gallery table.prices span.disct {
    display: none;
}
table.gallery table.fixed span.disct, table.gallery table.prices span.disct {
    margin-top: 4px;
    display: none;
}
table.gallery table.fixed tr td {
    display: table-cell;
    width: 50% !important;
}
div.itemseparator {
    border: 0;
    display: none;
}
#CentralArea {
    font-family: 'Open Sans', sans-serif !important;
    display: block;
    border: none;
}
.pagewidth td#CentralArea div.v4stabl {
    float: right;
    padding-right: 24px;
    position: relative;
    right: 0px;
    text-align: right;
    top: 31px;
    width: 500px;
    font-size: 13px;
    color: #ffffff !important;
}

.pagewidth div.r3_cm {
    clear: both;
    border: 1px solid #e6e6e6;
    border-top: 0;
}





.pagewidth .r3 {
	width: 100%;
}
.pagewidth .v4stabl, .pagewidth div.r3_cm {
	padding: 0;
}
.pagewidth div.r3_cm {
	display: inline-block;
	min-height: 10px;
	width: 100%;
	padding: 0px 10px 0 15px
}
.pagewidth .v4stabl, .pagewidth .ctrlbr .pdmt:first-child {
	display: none;
}
.cmsg {
	display: none;
}
.pagewidth .fpcc {
	display: inline-block;
	width: 100%;
	padding: 4px 0px 5px 0px;
}
.pagewidth .fpcc > div {
	border-bottom: 0;
	display: inline-block;
	width: 100%;
}
.pagewidth .fpcc .smuy span {
	color: #000000;
	display: inline;
	white-space: normal;
	font-size: 22px;
	line-height: 34px;
	font-weight: bold;
}
.pagewidth .fpcc .smuy span.keywordClass {
	font-family: 'Rubik', sans-serif !important;
	font-family: inherit;
	font-weight: normal;
	color: #000000;
	font-size: 1.25em;
	background-color: transparent !important;
	white-space: nowrap;
	cursor: default;
	margin: 0;
	display: inline;
}
.pagewidth .fpcc .smuy span.countClass, .pagewidth .fpcc .smuy span.keywordClass {
	background: none;
}
.pagewidth .fpcc .smuy span.matchClass {
	font-family: 'Rubik', sans-serif !important;
	font-weight: normal;
	color: #000000;
	font-size: 1.25em;
}
.pagewidth .fpcc .smuy span.countClass {
	font-family: 'Rubik', sans-serif !important;
	font-weight: normal;
	color: #00b6e8;
	font-size: 1.5em;
}
.olp-mn {
	margin-left: -6px
}
.pagewidth div.r3_cm div.rs_box {
	display: inline-block;
	width: 100%;
	position: relative;
	padding: 0px;
	top: 0;
	border-top: none;
}
.pagewidth div.r3_cm div.rs_box div.ctrlbr span.pdmt span {
	color: #111111;
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400 !important
}
.pagewidth div.r3_cm div.rs_box div.ctrlbr span.pdmt span.label {
	padding-right: 0px;
	font-weight: 400;
}
.pagewidth div.r3_cm div.rs_box div.ctrlbr span.pdmt span.cur {
	position: relative;
	padding: 5px 16px 5px 0px;
}
.pagewidth div.r3_cm div.rs_box div.ctrlbr span.pdmt span.cur::after {
	font-family: FontAwesome;
	content: '\f0d7';
	font-size: 14px;
	color: #000000;
	top: 5px;
	right: 0;
	position: absolute;
}
.pagewidth div.r3_cm div.rs_box div.ctrlbr span.pdmt span.cur img {
	display: none;
}
.pagewidth div.r3_cm div.rs_box div.ctrlbr {
	border: 0;
}
.pagewidth div.r3_cm div.rs_box .pview.rs-pview {
	padding: 0px;
	margin-top: -7px;
}
.pagewidth .grid td.left {
	border: 0;
}
.pagewidth td.gallery.left {
}
.pagewidth td.gallery.left:last-child {
}
.grid td.gallery:first-child {
}
.pagewidth td.gallery {
	padding-top: 0;
	margin-bottom: 15px;
	background-color: #FFFFFF;
	padding: 10px;
}
.pagewidth div.r3_cm div.rs_box .dynpg .pgbc .page, .pagewidth div.r3_cm div.rs_box .dynpg .r .form {
	display: none;
}
.pagewidth div.r3_cm div.rs_box .dynpg .m .pager .next a, .pagewidth div.r3_cm div.rs_box .dynpg .m .pager .prev a {
	display: inline-block;
	text-align: center;
	text-indent: 0;
	width: 15px;
	height: 15px;
	margin: 0;
	font-size: 0px;
}
.dynpg .next img.pic {
	display: none;
}
.pagewidth div.r3_cm div.rs_box .dynpg .m .pager .prev a:first-child {
	display: none
}
.pagewidth div.r3_cm div.rs_box .dynpg .m .pager .prev a.disabled:last-child {
	background: url(../images/default/PS-bg.png) no-repeat 0px -471px;
}
.pagewidth div.r3_cm div.rs_box .dynpg .m .pager .prev a.enabled:last-child {
	background: url(../images/default/PS-bg.png) no-repeat 0px -496px;
}
.pagewidth div.r3_cm div.rs_box .dynpg .m .pager .next a.disabled:first-child {
	display: none
}
.pagewidth div.r3_cm div.rs_box .dynpg .m .pager .next a:first-child {
	display: none
}
.pagewidth div.r3_cm div.rs_box .dynpg .m .pager .next a.disabled:last-child {
	background: url(../images/default/PS-bg.png) no-repeat 0px -521px;
}
.pagewidth div.r3_cm div.rs_box .dynpg .m .pager .next a.enabled:last-child {
	background: url(../images/default/PS-bg.png) no-repeat 0px -546px;
}
.pagewidth div.r3_cm div.rs_box .dynpg .m .pager .pages .pipe {
	display: none;
}
.pagewidth div.r3_cm div.rs_box .dynpg .m .pager .pages a {
	color: #111111 !important;
	font-size: 14px;
	line-height: 18px;
	padding: 5px;
	margin: 0 4px;
	display: table-cell;
	display: inline-block;
}
.pagewidth div.r3_cm div.rs_box .dynpg .m .pager .pages a.disabled, .pagewidth div.r3_cm div.rs_box .dynpg .m .pager .pages a:hover {
	color: #fff !important;
	font-weight: 400;
	background: #090400
}
.pagewidth div.r3_cm div.rs_box .dynpg .m .pager .pages a, .pagewidth div.r3_cm div.rs_box .dynpg .m .pager .pages a:active {
	text-decoration: none;
}
.pager {
	margin: 0px auto 15px;
}
.rs_box {
	border: 0;
}
.pagewidth table.gallery {
	padding: 0px;
	height: 370px;
	min-height: 370px;
	background-color: #fff;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	border: 1px solid #dcdcdc;
}
table.gallery td.picture {
	height: 220px;
	margin: 0 auto;
	padding: 40px 0 !important;
	text-align: center !important;
	vertical-align: middle;
	display: inline-flex;
	align-items: center;
	width: 100%;
}
table.gallery td.picture .image {
	border: 0;
	vertical-align: middle;
	margin: 0;
	max-height: 140px;
	max-width: 140px;
	display: inline-table;
}
table.gallery tr td.details {
	font-family: 'Rubik', sans-serif !important;
	padding: 0 20px;
}
table.gallery tr td.details div.g-nav.subtitle {
	display: none;
	height: 32px;
	overflow: hidden;
	margin-bottom: 14px;
	font-size: 12px;
	line-height: 15px;
	color: #666666;
}
table.gallery tr td.details div.g-nav.subtitle img {
	display: none;
}
table.gallery tr td.details div.ttl {
	font-family: 'Rubik', sans-serif !important;
	height: 40px;
	overflow: hidden;
	margin: 0 0 20px;
	text-align: left;
}
table.gallery tr td.details div.ttl a {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 13px;
	color: #484848 !important;
	transition: 0.3s all ease-in-out;
}
table.gallery tr td.details div.ttl a:hover {
	color: #00b6e8 !important;
}
table.gallery table.fixed tr td .bin.g-b {
	font-family: 'Rubik', sans-serif !important;
	text-align: right;
	display: block;
	font-weight: normal;
	color: #00b6e8;
	font-size: 14px;
}
table.fixed > tbody > tr > td:nth-child(1), table.fixed > tbody > tr > td:nth-child(2) {
	width: 50%!Important;
	display: inline-block;
	text-align: left;
}
table.gallery tr td.details table.fixed img {
	margin-top: 6px;
}
table.gallery table.fixed tr td:last-child {
	text-align: right;
}
table.gallery tr td.details table.fixed tr td.bin-content span {
	font-size: 20px;
	color: #ca0e0e;
	font-weight: bold;
	line-height: 27px;
}
table.gallery tr td.details table.fixed tr.price-style-1 span {
	font-size: 14px;
	color: #000000;
	line-height: 25px;
	text-decoration: line-through;
}
table.gallery .mi {
	padding: 4px 10px 0;
	display: none
}
table.gallery .mi a {
	font-size: 10px;
	line-height: 13px;
	color: #616161;
}
table.gallery tr td.details table.fixed tr td div.ship span, table.gallery tr td.details table.fixed tr td div.clr span {
	font-size: 12px;
	line-height: 16px;
	color: #666666;
	font-weight: normal;
	padding: 0px;
}
table.gallery tr td.details table.fixed tr td div.clr span.label {
	padding-right: 5px;
}
table.gallery tr td.details table.fixed tr td div.clr.time2:last-child {
	display: block;
	padding: 0;
	margin-top: 15px;
	text-transform: none;
	font-size: 12px;
	color: #4c4c4c;
}
table.gallery div.clearFullDiv {
	padding: 10px 0 0;
	font-size: 12px;
}
table.gallery table.fixed div.cpa {
	margin: 0 !important;
}
.r3_t b, .r3_bl b {
	background: none;
}
.r3_t i, .r3_bl i {
	border: 0;
}
.r3_t, .r3_c, .r3_bl {
	background: none;
	border: 0;
}
.r3_t {
	display: none;
}
.cmpBr {
	background: none;
	border: 0;
	height: 0;
}
td#CentralArea div.dynpg, table.pgbc {
	border: 0;
	background: none;
}
td#CentralArea div.dynpg .m {
	width: 100%;
	text-align: center;
}
div.itemseparator {
	border: 0;
	display: none;
}
.rs-pview {
	padding: 0;
}
td#CentralArea span.pdmt {
	margin-top: -38px;
	padding-right: 0px;
	float: right;
}
.ctrlbr {
	padding: 3px 0;
}
.pagewidth td#CentralArea div.v4stabl {
	display: none;
	float: right;
	padding-right: 10px;
	position: relative;
	right: 0px;
	text-align: right;
	top: 15px;
	width: 500px;
	font-size: 13px;
	color: #000000 !important;
}
.pagewidth td#CentralArea div.v4stabl a {
	color: #000 !important;
}
.pagewidth .olp-mr {
	display: none;
}
.pagewidth .olp-tl p {
	display: none;
}
.olp-tl, .olp-tr, .olp-bl, .olp-br {
	border: 0;
}
.olp-tl, .olp-bl, .olp-bl p {
	background: none;
}
.olp-ml {
	border: 0;
	background: none;
}
.olp-tl p {
	border: 0;
	background: none;
}
.olp-tr, .olp-br, .olp-mr {
	background: none;
}
.olp-bl div {
	border: 0;
	display: none;
}
.ml-pm .olp-cnt {
	border: 1px solid #e5e5e5;
	padding: 15px;
}
.pagewidth .dynpg td.pages a.disabled {
}
.pagewidth .pipe {
	display: none;
}
table.gallery img {
	border: 0;
	vertical-align: top;
	margin: 0;
	max-height: 140px;
	max-width: 140px;
}
table.gallery td.picture div.image img.sale {
	width: auto !important;
}
table.gallery td.picture .image a {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
a.ppr {
	color: #1f2398;
	font-size: 10px;
}
table.gallery tr td.details div.ttl img {
	margin-left: 4px;
	display: none
}
table.gallery table.fixed {
	margin-top: 5px;
	width: 100%;
}
table.gallery table.fixed.price-2 {
	margin-top: 0;
}
table.gallery table.fixed tr {
	width: 100%;
	display: table;
}
table.gallery table.fixed tr.price-style {
	margin-bottom: 14px;
}
table.gallery table.fixed tr td .stp {
	text-align: right;
	display: none
}
table.gallery table.fixed tr td:last-child {
	text-align: right;
}
table.gallery table.fixed span.oriprs, table.gallery table.prices span.oriprs {
	font-size: 15px;
	line-height: 20px;
	color: #616161;
	display: none;
}
table.gallery table.fixed span.disct, table.gallery table.prices span.disct {
	margin-top: 4px;
	display: none;
}
table.gallery table.fixed tr td {
	display: table-cell;
	width: 50% !important;
}
table.gallery table.fixed tr td.basics {
	display: none
}
.pagewidth .stBadge {
	margin-top: 7px;
	min-width: 100px
}
.pagewidth .stBadge img {
	width: auto;
	max-width: 100%
}
.pgbc {
	padding: 0;
}
td#CentralArea div.dynpg {
	padding-top: 20px;
}
td#CentralArea div.dynpg .m .pager {
	margin: 0px auto;
	display: inline-block;
}
#TopPromoArea {
	display: none;
}
.pagewidth div.r3_cm {
	padding: 5px 10px 0;
}
.pagewidth .fpcc {
	padding: 5px 0;
	margin-top: -10px;
}

/* End style store */
@media only screen and (max-width: 1200px) {
.pagecontainer table tr td table:nth-child(2) {
	max-width: 950px !important;
}
table.gallery tr td.details div.ttl {
	height: 37px;
}
table.gallery table.fixed tr td .bin.g-b {
	font-size: 14px !important;
}
}

@media (min-width:769px) and (max-width:991px) {
/* store */

.col-left .box-brand h2 {
	font-size: 21px;
}
.v4acp_head .v4title h2::before {
	left: 0;
}
.v4acp_head .v4title h2 {
	text-indent: 40px;
}
.pagewidth .fpcc .smuy span {
	font-size: 25px;
}
.pagewidth table.gallery {
	margin-top: 0px !important;
}
}

@media only screen and (max-width: 991px) {
.pagecontainer table tr td table:nth-child(2) {
	max-width: 750px !important;
}
.pagewidth table.gallery {
	margin-bottom: 0 !important
}
}

@media(max-width: 940px) {
.box-trustmakers .box p:last-child {
	padding-left: 10px;
}
