
@media (min-width: 768px) {
.lead {
	font-size: 21px;
}
}
small, .small {
	font-size: 85%;
}
cite {
	font-style: normal;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}
.text-muted {
	color: #999;
}
.text-primary {
	color: #428bca;
}
a.text-primary:hover {
	color: #3071a9;
}
.text-success {
	color: #3c763d;
}
a.text-success:hover {
	color: #2b542c;
}
.text-info {
	color: #31708f;
}
a.text-info:hover {
	color: #245269;
}
.text-warning {
	color: #8a6d3b;
}
a.text-warning:hover {
	color: #66512c;
}
.text-danger {
	color: #a94442;
}
a.text-danger:hover {
	color: #843534;
}
.bg-primary {
	color: #fff;
	background-color: #428bca;
}
a.bg-primary:hover {
	background-color: #3071a9;
}
.bg-success {
	background-color: #dff0d8;
}
a.bg-success:hover {
	background-color: #c1e2b3;
}
.bg-info {
	background-color: #d9edf7;
}
a.bg-info:hover {
	background-color: #afd9ee;
}
.bg-warning {
	background-color: #fcf8e3;
}
a.bg-warning:hover {
	background-color: #f7ecb5;
}
.bg-danger {
	background-color: #f2dede;
}
a.bg-danger:hover {
	background-color: #e4b9b9;
}
.page-header {
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: 1px solid #eee;
}
ul, ol {
	margin-top: 0;
	margin-bottom: 10px;
}
ul ul, ol ul, ul ol, ol ol {
	margin-bottom: 0;
}
.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}
.list-inline > li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}
dl {
	margin-top: 0;
	margin-bottom: 20px;
}
dt, dd {
	line-height: 1.42857143;
}
dt {
	font-weight: bold;
}
dd {
	margin-left: 0;
}

@media (min-width: 768px) {
.dl-horizontal dt {
	float: left;
	width: 160px;
	overflow: hidden;
	clear: left;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.dl-horizontal dd {
	margin-left: 180px;
}
}
abbr[title], abbr[data-original-title] {
	cursor: help;
	border-bottom: 1px dotted #999;
}
.initialism {
	font-size: 90%;
	text-transform: uppercase;
}
blockquote {
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 17.5px;
	border-left: 5px solid #eee;
}
blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child {
	margin-bottom: 0;
}
blockquote footer, blockquote small, blockquote .small {
	display: block;
	font-size: 80%;
	line-height: 1.42857143;
	color: #999;
}
blockquote footer:before, blockquote small:before, blockquote .small:before {
	content: '\2014 \00A0';
}
.blockquote-reverse, blockquote.pull-right {
	padding-right: 10px;
	padding-left: 0;
	text-align: right;
	border-right: 5px solid #eee;
	border-left: 0;
}
.blockquote-reverse footer:before, blockquote.pull-right footer:before, .blockquote-reverse small:before, blockquote.pull-right small:before, .blockquote-reverse .small:before, blockquote.pull-right .small:before {
	content: '';
}
.blockquote-reverse footer:after, blockquote.pull-right footer:after, .blockquote-reverse small:after, blockquote.pull-right small:after, .blockquote-reverse .small:after, blockquote.pull-right .small:after {
	content: '\00A0 \2014';
}
blockquote:before, blockquote:after {
	content: "";
}
address {
	margin-bottom: 20px;
	font-style: normal;
	line-height: 1.42857143;
}
code, kbd, pre, samp {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	white-space: nowrap;
	background-color: #f9f2f4;
	border-radius: 4px;
}
kbd {
	padding: 2px 4px;
	font-size: 90%;
	color: #fff;
	background-color: #333;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
}
pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
}
pre code {
	padding: 0;
	font-size: inherit;
	color: inherit;
	white-space: pre-wrap;
	background-color: transparent;
	border-radius: 0;
}
.pre-scrollable {
	max-height: 340px;
	overflow-y: scroll;
}
.container {
	padding-right: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto;
}
.pagewidth .pagecontainer table.tb_v4bc ~ table > tbody > tr > td > table:last-child {
	margin: 0 auto
}

@media (min-width: 768px) {
.container, .pagewidth .pagecontainer table.tb_v4bc ~ table > tbody > tr > td > table:last-child {
}
}

@media (min-width: 939px) {
.container, .pagewidth .pagecontainer table.tb_v4bc ~ table > tbody > tr > td > table:last-child {
}
}

@media (min-width: 992px) {
.container, .pagewidth .pagecontainer table.tb_v4bc ~ table > tbody > tr > td > table:last-child {
}
}

@media (min-width: 1200px) {
.container, .pagewidth .pagecontainer table.tb_v4bc ~ table > tbody > tr > td > table:last-child {
}
}
.pagecontainer-fluid {
	padding-right: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto;
}
.row {
	margin-right: -10px;
	margin-left: -10px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: left;
}
.col-xs-12 {
	width: 100%;
}
.col-xs-11 {
	width: 91.66666667%;
}
.col-xs-10 {
	width: 83.33333333%;
}
.col-xs-9 {
	width: 75%;
}
.col-xs-8 {
	width: 66.66666667%;
}
.col-xs-7 {
	width: 58.33333333%;
}
.col-xs-6 {
	width: 50%;
}
.col-xs-5 {
	width: 41.66666667%;
}
.col-xs-4 {
	width: 33.33333333%;
}
.col-xs-3 {
	width: 25%;
}
.col-xs-2 {
	width: 16.66666667%;
}
.col-xs-1 {
	width: 8.33333333%;
}
.col-xs-pull-12 {
	right: 100%;
}
.col-xs-pull-11 {
	right: 91.66666667%;
}
.col-xs-pull-10 {
	right: 83.33333333%;
}
.col-xs-pull-9 {
	right: 75%;
}
.col-xs-pull-8 {
	right: 66.66666667%;
}
.col-xs-pull-7 {
	right: 58.33333333%;
}
.col-xs-pull-6 {
	right: 50%;
}
.col-xs-pull-5 {
	right: 41.66666%;
}
.col-xs-pull-4 {
	right: 33.33333333%;
}
.col-xs-pull-3 {
	right: 25%;
}
.col-xs-pull-2 {
	right: 16.66666667%;
}
.col-xs-pull-1 {
	right: 8.33333333%;
}
.col-xs-pull-0 {
	right: 0;
}
.col-xs-push-12 {
	left: 100%;
}
.col-xs-push-11 {
	left: 91.66666667%;
}
.col-xs-push-10 {
	left: 83.33333333%;
}
.col-xs-push-9 {
	left: 75%;
}
.col-xs-push-8 {
	left: 66.66666667%;
}
.col-xs-push-7 {
	left: 58.33333333%;
}
.col-xs-push-6 {
	left: 50%;
}
.col-xs-push-5 {
	left: 41.66666667%;
}
.col-xs-push-4 {
	left: 33.33333333%;
}
.col-xs-push-3 {
	left: 25%;
}
.col-xs-push-2 {
	left: 16.66666667%;
}
.col-xs-push-1 {
	left: 8.33333333%;
}
.col-xs-push-0 {
	left: 0;
}
.col-xs-offset-12 {
	margin-left: 100%;
}
.col-xs-offset-11 {
	margin-left: 91.66666667%;
}
.col-xs-offset-10 {
	margin-left: 83.33333333%;
}
.col-xs-offset-9 {
	margin-left: 75%;
}
.col-xs-offset-8 {
	margin-left: 66.66666667%;
}
.col-xs-offset-7 {
	margin-left: 58.33333333%;
}
.col-xs-offset-6 {
	margin-left: 50%;
}
.col-xs-offset-5 {
	margin-left: 41.66666667%;
}
.col-xs-offset-4 {
	margin-left: 33.33333333%;
}
.col-xs-offset-3 {
	margin-left: 25%;
}
.col-xs-offset-2 {
	margin-left: 16.66666667%;
}
.col-xs-offset-1 {
	margin-left: 8.33333333%;
}
.col-xs-offset-0 {
	margin-left: 0;
}

@media (min-width: 768px) {
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	float: left;
}
.col-sm-12 {
	width: 100%;
}
.col-sm-11 {
	width: 91.66666667%;
}
.col-sm-10 {
	width: 83.33333333%;
}
.col-sm-9 {
	width: 75%;
}
.col-sm-8 {
	width: 66.66666667%;
}
.col-sm-7 {
	width: 58.33333333%;
}
.col-sm-6 {
	width: 50%;
}
.col-sm-5 {
	width: 41.66666667%;
}
.col-sm-4 {
	width: 33.33333333%;
}
.col-sm-3 {
	width: 25%;
}
.col-sm-2 {
	width: 16.66666667%;
}
.col-sm-1 {
	width: 8.33333333%;
}
.col-sm-pull-12 {
	right: 100%;
}
.col-sm-pull-11 {
	right: 91.66666667%;
}
.col-sm-pull-10 {
	right: 83.33333333%;
}
.col-sm-pull-9 {
	right: 75%;
}
.col-sm-pull-8 {
	right: 66.66666667%;
}
.col-sm-pull-7 {
	right: 58.33333333%;
}
.col-sm-pull-6 {
	right: 50%;
}
.col-sm-pull-5 {
	right: 41.66666667%;
}
.col-sm-pull-4 {
	right: 33.33333333%;
}
.col-sm-pull-3 {
	right: 25%;
}
.col-sm-pull-2 {
	right: 16.66666667%;
}
.col-sm-pull-1 {
	right: 8.33333333%;
}
.col-sm-pull-0 {
	right: 0;
}
.col-sm-push-12 {
	left: 100%;
}
.col-sm-push-11 {
	left: 91.66666667%;
}
.col-sm-push-10 {
	left: 83.33333333%;
}
.col-sm-push-9 {
	left: 75%;
}
.col-sm-push-8 {
	left: 66.66666667%;
}
.col-sm-push-7 {
	left: 58.33333333%;
}
.col-sm-push-6 {
	left: 50%;
}
.col-sm-push-5 {
	left: 41.66666667%;
}
.col-sm-push-4 {
	left: 33.33333333%;
}
.col-sm-push-3 {
	left: 25%;
}
.col-sm-push-2 {
	left: 16.66666667%;
}
.col-sm-push-1 {
	left: 8.33333333%;
}
.col-sm-push-0 {
	left: 0;
}
.col-sm-offset-12 {
	margin-left: 100%;
}
.col-sm-offset-11 {
	margin-left: 91.66666667%;
}
.col-sm-offset-10 {
	margin-left: 83.33333333%;
}
.col-sm-offset-9 {
	margin-left: 75%;
}
.col-sm-offset-8 {
	margin-left: 66.66666667%;
}
.col-sm-offset-7 {
	margin-left: 58.33333333%;
}
.col-sm-offset-6 {
	margin-left: 50%;
}
.col-sm-offset-5 {
	margin-left: 41.66666667%;
}
.col-sm-offset-4 {
	margin-left: 33.33333333%;
}
.col-sm-offset-3 {
	margin-left: 25%;
}
.col-sm-offset-2 {
	margin-left: 16.66666667%;
}
.col-sm-offset-1 {
	margin-left: 8.33333333%;
}
.col-sm-offset-0 {
	margin-left: 0;
}
}

@media (min-width: 992px) {
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	float: left;
}
.col-md-12 {
	width: 100%;
}
.col-md-11 {
	width: 91.66666667%;
}
.col-md-10 {
	width: 83.33333333%;
}
.col-md-9 {
	width: 75%;
}
.col-md-8 {
	width: 66.66666667%;
}
.col-md-7 {
	width: 58.33333333%;
}
.col-md-6 {
	width: 50%;
}
.col-md-5 {
	width: 41.66666667%;
}
.col-md-4 {
	width: 33.33333333%;
}
.col-md-3 {
	width: 25%;
}
.col-md-2 {
	width: 16.66666667%;
}
.col-md-1 {
	width: 8.33333333%;
}
.col-md-pull-12 {
	right: 100%;
}
.col-md-pull-11 {
	right: 91.66666667%;
}
.col-md-pull-10 {
	right: 83.33333333%;
}
.col-md-pull-9 {
	right: 75%;
}
.col-md-pull-8 {
	right: 66.66666667%;
}
.col-md-pull-7 {
	right: 58.33333333%;
}
.col-md-pull-6 {
	right: 50%;
}
.col-md-pull-5 {
	right: 41.66666667%;
}
.col-md-pull-4 {
	right: 33.33333333%;
}
.col-md-pull-3 {
	right: 25%;
}
.col-md-pull-2 {
	right: 16.66666667%;
}
.col-md-pull-1 {
	right: 8.33333333%;
}
.col-md-pull-0 {
	right: 0;
}
.col-md-push-12 {
	left: 100%;
}
.col-md-push-11 {
	left: 91.66666667%;
}
.col-md-push-10 {
	left: 83.33333333%;
}
.col-md-push-9 {
	left: 75%;
}
.col-md-push-8 {
	left: 66.66666667%;
}
.col-md-push-7 {
	left: 58.33333333%;
}
.col-md-push-6 {
	left: 50%;
}
.col-md-push-5 {
	left: 41.66666667%;
}
.col-md-push-4 {
	left: 33.33333333%;
}
.col-md-push-3 {
	left: 25%;
}
.col-md-push-2 {
	left: 16.66666667%;
}
.col-md-push-1 {
	left: 8.33333333%;
}
.col-md-push-0 {
	left: 0;
}
.col-md-offset-12 {
	margin-left: 100%;
}
.col-md-offset-11 {
	margin-left: 91.66666667%;
}
.col-md-offset-10 {
	margin-left: 83.33333333%;
}
.col-md-offset-9 {
	margin-left: 75%;
}
.col-md-offset-8 {
	margin-left: 66.66666667%;
}
.col-md-offset-7 {
	margin-left: 58.33333333%;
}
.col-md-offset-6 {
	margin-left: 50%;
}
.col-md-offset-5 {
	margin-left: 41.66666667%;
}
.col-md-offset-4 {
	margin-left: 33.33333333%;
}
.col-md-offset-3 {
	margin-left: 25%;
}
.col-md-offset-2 {
	margin-left: 16.66666667%;
}
.col-md-offset-1 {
	margin-left: 8.33333333%;
}
.col-md-offset-0 {
	margin-left: 0;
}
}

@media (min-width: 1200px) {
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
	float: left;
}
.col-lg-12 {
	width: 100%;
}
.col-lg-11 {
	width: 91.66666667%;
}
.col-lg-10 {
	width: 83.33333333%;
}
.col-lg-9 {
	width: 75%;
}
.col-lg-8 {
	width: 66.66666667%;
}
.col-lg-7 {
	width: 58.33333333%;
}
.col-lg-6 {
	width: 50%;
}
.col-lg-5 {
	width: 41.66666667%;
}
.col-lg-4 {
	width: 33.33333333%;
}
.col-lg-3 {
	width: 25%;
}
.col-lg-2 {
	width: 16.66666667%;
}
.col-lg-1 {
	width: 8.33333333%;
}
.col-lg-pull-12 {
	right: 100%;
}
.col-lg-pull-11 {
	right: 91.66666667%;
}
.col-lg-pull-10 {
	right: 83.33333333%;
}
.col-lg-pull-9 {
	right: 75%;
}
.col-lg-pull-8 {
	right: 66.66666667%;
}
.col-lg-pull-7 {
	right: 58.33333333%;
}
.col-lg-pull-6 {
	right: 50%;
}
.col-lg-pull-5 {
	right: 41.66666667%;
}
.col-lg-pull-4 {
	right: 33.33333333%;
}
.col-lg-pull-3 {
	right: 25%;
}
.col-lg-pull-2 {
	right: 16.66666667%;
}
.col-lg-pull-1 {
	right: 8.33333333%;
}
.col-lg-pull-0 {
	right: 0;
}
.col-lg-push-12 {
	left: 100%;
}
.col-lg-push-11 {
	left: 91.66666667%;
}
.col-lg-push-10 {
	left: 83.33333333%;
}
.col-lg-push-9 {
	left: 75%;
}
.col-lg-push-8 {
	left: 66.66666667%;
}
.col-lg-push-7 {
	left: 58.33333333%;
}
.col-lg-push-6 {
	left: 50%;
}
.col-lg-push-5 {
	left: 41.66666667%;
}
.col-lg-push-4 {
	left: 33.33333333%;
}
.col-lg-push-3 {
	left: 25%;
}
.col-lg-push-2 {
	left: 16.66666667%;
}
.col-lg-push-1 {
	left: 8.33333333%;
}
.col-lg-push-0 {
	left: 0;
}
.col-lg-offset-12 {
	margin-left: 100%;
}
.col-lg-offset-11 {
	margin-left: 91.66666667%;
}
.col-lg-offset-10 {
	margin-left: 83.33333333%;
}
.col-lg-offset-9 {
	margin-left: 75%;
}
.col-lg-offset-8 {
	margin-left: 66.66666667%;
}
.col-lg-offset-7 {
	margin-left: 58.33333333%;
}
.col-lg-offset-6 {
	margin-left: 50%;
}
.col-lg-offset-5 {
	margin-left: 41.66666667%;
}
.col-lg-offset-4 {
	margin-left: 33.33333333%;
}
.col-lg-offset-3 {
	margin-left: 25%;
}
.col-lg-offset-2 {
	margin-left: 16.66666667%;
}
.col-lg-offset-1 {
	margin-left: 8.33333333%;
}
.col-lg-offset-0 {
	margin-left: 0;
}
}
table {
	max-width: 100%;
	background-color: transparent;
}
th {
	text-align: left;
}
.table {
	width: 100%;
	margin-bottom: 20px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
}
.table > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
	border-top: 0;
}
.table > tbody + tbody {
	border-top: 2px solid #ddd;
}
.table .table {
	background-color: #fff;
}
.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
	padding: 5px;
}
.table-bordered {
	border: 1px solid #ddd;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
	border: 1px solid #ddd;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
	border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
	background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
	background-color: #f5f5f5;
}
table col[class*="col-"] {
	position: static;
	display: table-column;
	float: none;
}
table td[class*="col-"], table th[class*="col-"] {
	position: static;
	display: table-cell;
	float: none;
}
.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {
	background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover, .table-hover > tbody > tr > th.active:hover, .table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr.active:hover > th {
	background-color: #e8e8e8;
}
.table > thead > tr > td.success, .table > tbody > tr > td.success, .table > tfoot > tr > td.success, .table > thead > tr > th.success, .table > tbody > tr > th.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > tbody > tr.success > td, .table > tfoot > tr.success > td, .table > thead > tr.success > th, .table > tbody > tr.success > th, .table > tfoot > tr.success > th {
	background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover, .table-hover > tbody > tr > th.success:hover, .table-hover > tbody > tr.success:hover > td, .table-hover > tbody > tr.success:hover > th {
	background-color: #d0e9c6;
}
.table > thead > tr > td.info, .table > tbody > tr > td.info, .table > tfoot > tr > td.info, .table > thead > tr > th.info, .table > tbody > tr > th.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > tbody > tr.info > td, .table > tfoot > tr.info > td, .table > thead > tr.info > th, .table > tbody > tr.info > th, .table > tfoot > tr.info > th {
	background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover, .table-hover > tbody > tr > th.info:hover, .table-hover > tbody > tr.info:hover > td, .table-hover > tbody > tr.info:hover > th {
	background-color: #c4e3f3;
}
.table > thead > tr > td.warning, .table > tbody > tr > td.warning, .table > tfoot > tr > td.warning, .table > thead > tr > th.warning, .table > tbody > tr > th.warning, .table > tfoot > tr > th.warning, .table > thead > tr.warning > td, .table > tbody > tr.warning > td, .table > tfoot > tr.warning > td, .table > thead > tr.warning > th, .table > tbody > tr.warning > th, .table > tfoot > tr.warning > th {
	background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover, .table-hover > tbody > tr > th.warning:hover, .table-hover > tbody > tr.warning:hover > td, .table-hover > tbody > tr.warning:hover > th {
	background-color: #faf2cc;
}
.table > thead > tr > td.danger, .table > tbody > tr > td.danger, .table > tfoot > tr > td.danger, .table > thead > tr > th.danger, .table > tbody > tr > th.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > tbody > tr.danger > td, .table > tfoot > tr.danger > td, .table > thead > tr.danger > th, .table > tbody > tr.danger > th, .table > tfoot > tr.danger > th {
	background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover, .table-hover > tbody > tr > th.danger:hover, .table-hover > tbody > tr.danger:hover > td, .table-hover > tbody > tr.danger:hover > th {
	background-color: #ebcccc;
}

@media (max-width: 767px) {
.table-responsive {
	width: 100%;
	margin-bottom: 10px;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	border: 1px solid #ddd;
}
.table-responsive > .table {
	margin-bottom: 0;
}
.table-responsive > .table > thead > tr > th, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > td {
	white-space: nowrap;
}
.table-responsive > .table-bordered {
	border: 0;
}
.table-responsive > .table-bordered > thead > tr > th:first-child, .table-responsive > .table-bordered > tbody > tr > th:first-child, .table-responsive > .table-bordered > tfoot > tr > th:first-child, .table-responsive > .table-bordered > thead > tr > td:first-child, .table-responsive > .table-bordered > tbody > tr > td:first-child, .table-responsive > .table-bordered > tfoot > tr > td:first-child {
	border-left: 0;
}
.table-responsive > .table-bordered > thead > tr > th:last-child, .table-responsive > .table-bordered > tbody > tr > th:last-child, .table-responsive > .table-bordered > tfoot > tr > th:last-child, .table-responsive > .table-bordered > thead > tr > td:last-child, .table-responsive > .table-bordered > tbody > tr > td:last-child, .table-responsive > .table-bordered > tfoot > tr > td:last-child {
	border-right: 0;
}
.table-responsive > .table-bordered > tbody > tr:last-child > th, .table-responsive > .table-bordered > tfoot > tr:last-child > th, .table-responsive > .table-bordered > tbody > tr:last-child > td, .table-responsive > .table-bordered > tfoot > tr:last-child > td {
	border-bottom: 0;
}
}
.collapse {
	display: none;
}
.collapse.in {
	display: block;
}
.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition: height .35s ease;
	transition: height .35s ease;
}
@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../fonts/glyphicons-halflings-regular.eot');
	src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.glyphicon-asterisk:before {
	content: "\2a";
}
.glyphicon-plus:before {
	content: "\2b";
}
.glyphicon-euro:before {
	content: "\20ac";
}
.glyphicon-minus:before {
	content: "\2212";
}
.glyphicon-cloud:before {
	content: "\2601";
}
.glyphicon-envelope:before {
	content: "\2709";
}
.glyphicon-pencil:before {
	content: "\270f";
}
.glyphicon-glass:before {
	content: "\e001";
}
.glyphicon-music:before {
	content: "\e002";
}
.glyphicon-search:before {
	content: "\e003";
}
.glyphicon-heart:before {
	content: "\e005";
}
.glyphicon-star:before {
	content: "\e006";
}
.glyphicon-star-empty:before {
	content: "\e007";
}
.glyphicon-user:before {
	content: "\e008";
}
.glyphicon-film:before {
	content: "\e009";
}
.glyphicon-th-large:before {
	content: "\e010";
}
.glyphicon-th:before {
	content: "\e011";
}
.glyphicon-th-list:before {
	content: "\e012";
}
.glyphicon-ok:before {
	content: "\e013";
}
.glyphicon-remove:before {
	content: "\e014";
}
.glyphicon-zoom-in:before {
	content: "\e015";
}
.glyphicon-zoom-out:before {
	content: "\e016";
}
.glyphicon-off:before {
	content: "\e017";
}
.glyphicon-signal:before {
	content: "\e018";
}
.glyphicon-cog:before {
	content: "\e019";
}
.glyphicon-trash:before {
	content: "\e020";
}
.glyphicon-home:before {
	content: "\e021";
}
.glyphicon-file:before {
	content: "\e022";
}
.glyphicon-time:before {
	content: "\e023";
}
.glyphicon-road:before {
	content: "\e024";
}
.glyphicon-download-alt:before {
	content: "\e025";
}
.glyphicon-download:before {
	content: "\e026";
}
.glyphicon-upload:before {
	content: "\e027";
}
.glyphicon-inbox:before {
	content: "\e028";
}
.glyphicon-play-circle:before {
	content: "\e029";
}
.glyphicon-repeat:before {
	content: "\e030";
}
.glyphicon-refresh:before {
	content: "\e031";
}
.glyphicon-list-alt:before {
	content: "\e032";
}
.glyphicon-lock:before {
	content: "\e033";
}
.glyphicon-flag:before {
	content: "\e034";
}
.glyphicon-headphones:before {
	content: "\e035";
}
.glyphicon-volume-off:before {
	content: "\e036";
}
.glyphicon-volume-down:before {
	content: "\e037";
}
.glyphicon-volume-up:before {
	content: "\e038";
}
.glyphicon-qrcode:before {
	content: "\e039";
}
.glyphicon-barcode:before {
	content: "\e040";
}
.glyphicon-tag:before {
	content: "\e041";
}
.glyphicon-tags:before {
	content: "\e042";
}
.glyphicon-book:before {
	content: "\e043";
}
.glyphicon-bookmark:before {
	content: "\e044";
}
.glyphicon-print:before {
	content: "\e045";
}
.glyphicon-camera:before {
	content: "\e046";
}
.glyphicon-font:before {
	content: "\e047";
}
.glyphicon-bold:before {
	content: "\e048";
}
.glyphicon-italic:before {
	content: "\e049";
}
.glyphicon-text-height:before {
	content: "\e050";
}
.glyphicon-text-width:before {
	content: "\e051";
}
.glyphicon-align-left:before {
	content: "\e052";
}
.glyphicon-align-center:before {
	content: "\e053";
}
.glyphicon-align-right:before {
	content: "\e054";
}
.glyphicon-align-justify:before {
	content: "\e055";
}
.glyphicon-list:before {
	content: "\e056";
}
.glyphicon-indent-left:before {
	content: "\e057";
}
.glyphicon-indent-right:before {
	content: "\e058";
}
.glyphicon-facetime-video:before {
	content: "\e059";
}
.glyphicon-picture:before {
	content: "\e060";
}
.glyphicon-map-marker:before {
	content: "\e062";
}
.glyphicon-adjust:before {
	content: "\e063";
}
.glyphicon-tint:before {
	content: "\e064";
}
.glyphicon-edit:before {
	content: "\e065";
}
.glyphicon-share:before {
	content: "\e066";
}
.glyphicon-check:before {
	content: "\e067";
}
.glyphicon-move:before {
	content: "\e068";
}
.glyphicon-step-backward:before {
	content: "\e069";
}
.glyphicon-fast-backward:before {
	content: "\e070";
}
.glyphicon-backward:before {
	content: "\e071";
}
.glyphicon-play:before {
	content: "\e072";
}
.glyphicon-pause:before {
	content: "\e073";
}
.glyphicon-stop:before {
	content: "\e074";
}
.glyphicon-forward:before {
	content: "\e075";
}
.glyphicon-fast-forward:before {
	content: "\e076";
}
.glyphicon-step-forward:before {
	content: "\e077";
}
.glyphicon-eject:before {
	content: "\e078";
}
.glyphicon-chevron-left:before {
/*content: "\e079";*/
}
.glyphicon-chevron-right:before {
/*content: "\e080";*/
}
.glyphicon-plus-sign:before {
	content: "\e081";
}
.glyphicon-minus-sign:before {
	content: "\e082";
}
.glyphicon-remove-sign:before {
	content: "\e083";
}
.glyphicon-ok-sign:before {
	content: "\e084";
}
.glyphicon-question-sign:before {
	content: "\e085";
}
.glyphicon-info-sign:before {
	content: "\e086";
}
.glyphicon-screenshot:before {
	content: "\e087";
}
.glyphicon-remove-circle:before {
	content: "\e088";
}
.glyphicon-ok-circle:before {
	content: "\e089";
}
.glyphicon-ban-circle:before {
	content: "\e090";
}
.glyphicon-arrow-left:before {
	content: "\e091";
}
.glyphicon-arrow-right:before {
	content: "\e092";
}
.glyphicon-arrow-up:before {
	content: "\e093";
}
.glyphicon-arrow-down:before {
	content: "\e094";
}
.glyphicon-share-alt:before {
	content: "\e095";
}
.glyphicon-resize-full:before {
	content: "\e096";
}
.glyphicon-resize-small:before {
	content: "\e097";
}
.glyphicon-exclamation-sign:before {
	content: "\e101";
}
.glyphicon-gift:before {
	content: "\e102";
}
.glyphicon-leaf:before {
	content: "\e103";
}
.glyphicon-fire:before {
	content: "\e104";
}
.glyphicon-eye-open:before {
	content: "\e105";
}
.glyphicon-eye-close:before {
	content: "\e106";
}
.glyphicon-warning-sign:before {
	content: "\e107";
}
.glyphicon-plane:before {
	content: "\e108";
}
.glyphicon-calendar:before {
	content: "\e109";
}
.glyphicon-random:before {
	content: "\e110";
}
.glyphicon-comment:before {
	content: "\e111";
}
.glyphicon-magnet:before {
	content: "\e112";
}
.glyphicon-chevron-up:before {
	content: "\e113";
}
.glyphicon-chevron-down:before {
	content: "\e114";
}
.glyphicon-retweet:before {
	content: "\e115";
}
.glyphicon-shopping-cart:before {
	content: "\e116";
}
.glyphicon-folder-close:before {
	content: "\e117";
}
.glyphicon-folder-open:before {
	content: "\e118";
}
.glyphicon-resize-vertical:before {
	content: "\e119";
}
.glyphicon-resize-horizontal:before {
	content: "\e120";
}
.glyphicon-hdd:before {
	content: "\e121";
}
.glyphicon-bullhorn:before {
	content: "\e122";
}
.glyphicon-bell:before {
	content: "\e123";
}
.glyphicon-certificate:before {
	content: "\e124";
}
.glyphicon-thumbs-up:before {
	content: "\e125";
}
.glyphicon-thumbs-down:before {
	content: "\e126";
}
.glyphicon-hand-right:before {
	content: "\e127";
}
.glyphicon-hand-left:before {
	content: "\e128";
}
.glyphicon-hand-up:before {
	content: "\e129";
}
.glyphicon-hand-down:before {
	content: "\e130";
}
.glyphicon-circle-arrow-right:before {
	content: "\e131";
}
.glyphicon-circle-arrow-left:before {
	content: "\e132";
}
.glyphicon-circle-arrow-up:before {
	content: "\e133";
}
.glyphicon-circle-arrow-down:before {
	content: "\e134";
}
.glyphicon-globe:before {
	content: "\e135";
}
.glyphicon-wrench:before {
	content: "\e136";
}
.glyphicon-tasks:before {
	content: "\e137";
}
.glyphicon-filter:before {
	content: "\e138";
}
.glyphicon-briefcase:before {
	content: "\e139";
}
.glyphicon-fullscreen:before {
	content: "\e140";
}
.glyphicon-dashboard:before {
	content: "\e141";
}
.glyphicon-paperclip:before {
	content: "\e142";
}
.glyphicon-heart-empty:before {
	content: "\e143";
}
.glyphicon-link:before {
	content: "\e144";
}
.glyphicon-phone:before {
	content: "\e145";
}
.glyphicon-pushpin:before {
	content: "\e146";
}
.glyphicon-usd:before {
	content: "\e148";
}
.glyphicon-gbp:before {
	content: "\e149";
}
.glyphicon-sort:before {
	content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
	content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
	content: "\e152";
}
.glyphicon-sort-by-order:before {
	content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
	content: "\e154";
}
.glyphicon-sort-by-attributes:before {
	content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
	content: "\e156";
}
.glyphicon-unchecked:before {
	content: "\e157";
}
.glyphicon-expand:before {
	content: "\e158";
}
.glyphicon-collapse-down:before {
	content: "\e159";
}
.glyphicon-collapse-up:before {
	content: "\e160";
}
.glyphicon-log-in:before {
	content: "\e161";
}
.glyphicon-flash:before {
	content: "\e162";
}
.glyphicon-log-out:before {
	content: "\e163";
}
.glyphicon-new-window:before {
	content: "\e164";
}
.glyphicon-record:before {
	content: "\e165";
}
.glyphicon-save:before {
	content: "\e166";
}
.glyphicon-open:before {
	content: "\e167";
}
.glyphicon-saved:before {
	content: "\e168";
}
.glyphicon-import:before {
	content: "\e169";
}
.glyphicon-export:before {
	content: "\e170";
}
.glyphicon-send:before {
	content: "\e171";
}
.glyphicon-floppy-disk:before {
	content: "\e172";
}
.glyphicon-floppy-saved:before {
	content: "\e173";
}
.glyphicon-floppy-remove:before {
	content: "\e174";
}
.glyphicon-floppy-save:before {
	content: "\e175";
}
.glyphicon-floppy-open:before {
	content: "\e176";
}
.glyphicon-credit-card:before {
	content: "\e177";
}
.glyphicon-transfer:before {
	content: "\e178";
}
.glyphicon-cutlery:before {
	content: "\e179";
}
.glyphicon-header:before {
	content: "\e180";
}
.glyphicon-compressed:before {
	content: "\e181";
}
.glyphicon-earphone:before {
	content: "\e182";
}
.glyphicon-phone-alt:before {
	content: "\e183";
}
.glyphicon-tower:before {
	content: "\e184";
}
.glyphicon-stats:before {
	content: "\e185";
}
.glyphicon-sd-video:before {
	content: "\e186";
}
.glyphicon-hd-video:before {
	content: "\e187";
}
.glyphicon-subtitles:before {
	content: "\e188";
}
.glyphicon-sound-stereo:before {
	content: "\e189";
}
.glyphicon-sound-dolby:before {
	content: "\e190";
}
.glyphicon-sound-5-1:before {
	content: "\e191";
}
.glyphicon-sound-6-1:before {
	content: "\e192";
}
.glyphicon-sound-7-1:before {
	content: "\e193";
}
.glyphicon-copyright-mark:before {
	content: "\e194";
}
.glyphicon-registration-mark:before {
	content: "\e195";
}
.glyphicon-cloud-download:before {
	content: "\e197";
}
.glyphicon-cloud-upload:before {
	content: "\e198";
}
.glyphicon-tree-conifer:before {
	content: "\e199";
}
.glyphicon-tree-deciduous:before {
	content: "\e200";
}
 .v4sbox::-webkit-input-placeholder { /* WebKit, Blink, Edge */
 color:    #999999;
}
.v4sbox:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #999999;
 opacity:  1;
}
.v4sbox::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #999999;
 opacity:  1;
}
.v4sbox:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    #999999;
}
/* End style details content */

.pagewidth .footer .container {
	padding: 0 20px;
}
/* END style home */
/* Begin style store */
.pagewidth .header-container {
	margin: 0px;
	position: relative
}
#LeftPanel {
	width: 250px;
	padding-left: 10px;
}
table.v4midBox {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
table.v4acpcont {
	margin-bottom: 10 !important
}
.v4acp_head .v4accent {
	padding: 0;
	background: none;
}
.v4midBox.v4nfc .v4acp_mid div.ttl {
	display: none
}
.v4midBox.v4nfc .v4acp_mid .v4mid .lcat {
	width: 100%;
	border-top: 0;
}
.v4midBox.v4nfc .v4acp_mid .v4mid .lev1 li {
	width: 100%;
	margin: 0;
}
.v4midBox.v4nfc .v4acp_mid .v4mid .lev1 >li {
	position: relative;
}
.v4midBox.v4nfc .v4acp_mid .v4mid .lev1 >li:before {
	font-family: FontAwesome;
	content: '\f0da';
	font-size: 12px;
	color: #3e3042;
position: absolute;
top: 8px;
	left: 10px;
}
.v4midBox.v4nfc .v4acp_mid .v4mid .lev1 >li:first-child {
	border-top: 0
}
.v4midBox.v4nfc .v4acp_mid .v4mid .lev1 li a, .v4midBox.v4nfc .v4acp_mid .v4mid .lev1 li span:first-child {
}
.v4midBox.v4nfc .v4acp_mid .v4mid .lev2 {
	padding: 0;
	list-style: none
}
.v4midBox.v4nfc .v4acp_mid .v4mid .lev2 li {
	padding-left: 28px;
}
.v4midBox.v4nfc .v4acp_mid .v4mid .lev2 li a, .v4midBox.v4nfc .v4acp_mid .v4mid .lev2 li span:first-child {
	font-weight: 400
}
.v4midBox.v4nfc .v4acp_mid .v4mid .lev2 li a:hover, .v4midBox.v4nfc .v4acp_mid .v4mid .lev2 li span:first-child {
	color: #74459b
}
.v4midBox.v4nfc .v4acp_mid .v4mid .morelnk {
	display: none
}
.v4midBox.v4nfc .v4acp_mid div.link {
}
.v4midBox.v4nfc .v4acp_mid div.link br {
	display: none
}
.v4midBox.v4nfc .v4acp_mid div.link a {
	border-top: 1px solid #f1f1f1;
	padding: 9px 14px;
	display: inline-block;
	width: 100%;
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	color: #3a3939;
}
.lcat .cnt {
	display: none !important;
	font-size: 15px !important;
	color: #3a3939 !important;
	font-weight: 400
}
.lcat a.all_cats {
	display: none
}
.border-top {
	background: #f46619;
	height: 6px;
	width: 100%;
}
.col-left .box-brand {
	border: 1px solid #dddddd;
	border-top: 0;
	display: inline-block;
	width: 100%;
	margin-bottom: 22px;
}
.col-left .box-brand h2 {
	font-size: 24px;
	line-height: 24px;
	color: #262626;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	margin: 17px 0 0px;
}
.col-left .box-brand ul {
	padding: 22px 0 12px;
	display: inline-block;
	width: 100%;
}
.col-left .box-brand ul li {
	width: 50%;
	float: left;
	padding: 3px 7px;
	text-align: center;
	height: 77px;
}
.col-left .box-brand ul li img {
	max-height: 100%
}
.col-left .box-newletter {
	background: #262626;
	padding: 21px 10px 0px;
	text-align: center;
}
.col-left .box-newletter h2 {
	font-size: 24px;
	line-height: 24px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
}
.col-left .box-newletter a {
	font-size: 14px;
	line-height: 36px;
	color: #fff;
	font-weight: 600;
	background: #f46619;
	border-radius: 3px;
	padding: 0 19px 0 11px;
	display: inline-block;
	position: relative;
	margin-top: 12px;
}
.col-left .box-newletter a:before {
	background: url(../images/SS-bg-icon.png) no-repeat 0px -223px;
	position: absolute;
	top: 0;
	right: 8px;
	content: "";
	width: 5px;
	height: 100%;
}
.col-left .box-newletter p {
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	font-weight: 400;
	margin-top: 8px;
}
.pagewidth .r3 {
	width: 100%;
}
.pagewidth .v4stabl, .pagewidth div.r3_cm {
	padding: 0;
}
.pagewidth div.r3_cm {
	display: inline-block;
	min-height: 10px;
	width: 100%;
	padding: 0px 10px 0 15px
}

{
	/*display: none;*/
}
.cmsg {
	display: none;
}
.pagewidth .fpcc {
	display: inline-block;
	width: 100%;
	padding: 4px 0px 5px 0px;
}
.pagewidth .fpcc > div {
	border-bottom: 0;
	display: inline-block;
	width: 100%;
}
.pagewidth .fpcc .smuy span {
	color: #000000;
	display: inline;
	white-space: normal;
	font-size: 22px;
	line-height: 34px;
	font-weight: bold;
}
.pagewidth .fpcc .smuy span.keywordClass {
	font-family: 'Rubik', sans-serif !important;
	font-family: inherit;
	font-weight: normal;
	color: #000000;
	font-size: 1.25em;
	background-color: transparent !important;
	white-space: nowrap;
	cursor: default;
	margin: 0;
	display: inline;
}
.pagewidth .fpcc .smuy span.countClass, .pagewidth .fpcc .smuy span.keywordClass {
	background: none;
}
.pagewidth .fpcc .smuy span.matchClass {
	font-family: 'Rubik', sans-serif !important;
	font-weight: normal;
	color: #000000;
	font-size: 1.25em;
}
.pagewidth .fpcc .smuy span.countClass {
	font-family: 'Rubik', sans-serif !important;
	font-weight: normal;
	color: #00b6e8;
	font-size: 1.5em;
}
.olp-mn {
	margin-left: -6px
}
.pagewidth div.r3_cm div.rs_box {
	display: inline-block;
	width: 100%;
	position: relative;
	padding: 0px;
	top: 0;
	border-top: none;
}
.pagewidth div.r3_cm div.rs_box div.ctrlbr span.pdmt span {
	color: #111111;
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400 !important
}
.pagewidth div.r3_cm div.rs_box div.ctrlbr span.pdmt span.label {
	padding-right: 0px;
	font-weight: 400;
}
.pagewidth div.r3_cm div.rs_box div.ctrlbr span.pdmt span.cur {
	position: relative;
	padding: 5px 16px 5px 0px;
}
.pagewidth div.r3_cm div.rs_box div.ctrlbr span.pdmt span.cur::after {
	font-family: FontAwesome;
	content: '\f0d7';
	font-size: 14px;
	color: #000000;
	top: 5px;
	right: 0;
	position: absolute;
}
.pagewidth div.r3_cm div.rs_box div.ctrlbr span.pdmt span.cur img {
	display: none;
}
.pagewidth div.r3_cm div.rs_box div.ctrlbr {
	border: 0;
}
.pagewidth div.r3_cm div.rs_box .pview.rs-pview {
	padding: 0px;
}
.pagewidth .grid td.left {
	border: 0;
}
.left {
}
.left:last-child {
}
.grid td.gallery:first-child {
}
 {
	padding-top: 0;
	margin-bottom: 15px;
	background-color: #FFFFFF;
	padding: 10px;
}
.pagewidth div.r3_cm div.rs_box .dynpg .pgbc .page, .pagewidth div.r3_cm div.rs_box .dynpg .r .form {
	display: none;
}
.pagewidth div.r3_cm div.rs_box .dynpg .m .pager .next a, .pagewidth div.r3_cm div.rs_box .dynpg .m .pager .prev a {
	display: inline-block;
	text-align: center;
	text-indent: 0;
	width: 15px;
	height: 15px;
	margin: 0;
	font-size: 0px;
color: transparent !important;
}
.dynpg .next img.pic {
	display: none;
}
.pagewidth div.r3_cm div.rs_box .dynpg .m .pager .prev a:first-child {
	display: none
}
.pagewidth div.r3_cm div.rs_box .dynpg .m .pager .prev a.disabled:last-child {
	background: url('https://raw.githubusercontent.com/danish1u/rick/master/imges/PS-bg%20(1).png') no-repeat 0px -471px;
}
.pagewidth div.r3_cm div.rs_box .dynpg .m .pager .prev a.enabled:last-child {
	background: url('https://raw.githubusercontent.com/danish1u/rick/master/imges/PS-bg%20(1).png') no-repeat 0px -496px;
}
.pagewidth div.r3_cm div.rs_box .dynpg .m .pager .next a.disabled:first-child {
	display: none
}
.pagewidth div.r3_cm div.rs_box .dynpg .m .pager .next a:first-child {
	display: none
}
.pagewidth div.r3_cm div.rs_box .dynpg .m .pager .next a.disabled:last-child {
	background: url(../images/default/PS-bg.png) no-repeat 0px -521px;
}
.pagewidth div.r3_cm div.rs_box .dynpg .m .pager .next a.enabled:last-child {
	background: url('https://raw.githubusercontent.com/danish1u/rick/master/imges/PS-bg%20(1).png') no-repeat 0px -546px;
}
.pagewidth div.r3_cm div.rs_box .dynpg .m .pager .pages .pipe {
	display: none;
}
.pagewidth div.r3_cm div.rs_box .dynpg .m .pager .pages a {
	color: #111111 !important;
	font-size: 14px;
	line-height: 18px;
	padding: 5px;
	margin: 0 4px;
	display: table-cell;
	display: inline-block;
}
.pagewidth div.r3_cm div.rs_box .dynpg .m .pager .pages a.disabled, .pagewidth div.r3_cm div.rs_box .dynpg .m .pager .pages a:hover {
	color: #fff !important;
	font-weight: 400;
	background: #090400
}
.pagewidth div.r3_cm div.rs_box .dynpg .m .pager .pages a, .pagewidth div.r3_cm div.rs_box .dynpg .m .pager .pages a:active {
	text-decoration: none;
}
.pager {
	margin: 0px auto 15px;
}
.rs_box {
	border: 0;
}
.pagewidth table.gallery {
	padding: 0px;
	height: 370px;
	min-height: 370px;
	background-color: #fff;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	border: 1px solid #dcdcdc;
}
table.gallery td.picture {
	height: 220px;
	margin: 0 auto;
	padding: 40px 0 !important;
	text-align: center !important;
	vertical-align: middle;
	display: inline-flex;
	align-items: center;
	width: 100%;
}
table.gallery td.picture .image {
	border: 0;
	vertical-align: middle;
	margin: 0;
	max-height: 140px;
	max-width: 140px;
	display: inline-table;
}
table.gallery tr td.details {
	font-family: 'Rubik', sans-serif !important;
	padding: 0 20px;
}
table.gallery tr td.details div.g-nav.subtitle {
	display: none;
	height: 32px;
	overflow: hidden;
	margin-bottom: 14px;
	font-size: 12px;
	line-height: 15px;
	color: #666666;
}
table.gallery tr td.details div.g-nav.subtitle img {
	display: none;
}
table.gallery tr td.details div.ttl {
	font-family: 'Rubik', sans-serif !important;
	height: 40px;
	overflow: hidden;
	margin: 0 0 20px;
	text-align: left;
}
table.gallery tr td.details div.ttl a {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 13px;
	color: #484848 !important;
	transition: 0.3s all ease-in-out;
}
table.gallery tr td.details div.ttl a:hover {
	color: #dca87b!important;
	    text-decoration: none;
}
table.gallery table.fixed tr td .bin.g-b {
	font-family: 'Rubik', sans-serif !important;
	text-align: right;
	display: block;
	font-weight: normal;
	color: #00b6e8;
	font-size: 14px;
}
table.fixed > tbody > tr > td:nth-child(1), table.fixed > tbody > tr > td:nth-child(2) {
	width: 50%!Important;
	display: inline-block;
	text-align: left;
}
table.gallery tr td.details table.fixed img {
	margin-top: 6px;
}
table.gallery table.fixed tr td:last-child {
	text-align: right;
}
table.gallery tr td.details table.fixed tr td.bin-content span {
	font-size: 20px;
	color: #ca0e0e;
	font-weight: bold;
	line-height: 27px;
}
table.gallery tr td.details table.fixed tr.price-style-1 span {
	font-size: 14px;
	color: #000000;
	line-height: 25px;
	text-decoration: line-through;
}
table.gallery .mi {
	padding: 4px 10px 0;
	display: none
}
table.gallery .mi a {
	font-size: 10px;
	line-height: 13px;
	color: #616161;
}
table.gallery tr td.details table.fixed tr td div.ship span, table.gallery tr td.details table.fixed tr td div.clr span {
	font-size: 12px;
	line-height: 16px;
	color: #666666;
	font-weight: normal;
	padding: 0px;
}
table.gallery tr td.details table.fixed tr td div.clr span.label {
	padding-right: 5px;
}
table.gallery tr td.details table.fixed tr td div.clr.time2:last-child {
	display: block;
	padding: 0;
	margin-top: 15px;
	text-transform: none;
	font-size: 12px;
	color: #4c4c4c;
}
table.gallery div.clearFullDiv {
	padding: 10px 0 0;
	font-size: 12px;
}
table.gallery table.fixed div.cpa {
	margin: 0 !important;
}
.r3_t b, .r3_bl b {
	background: none;
}
.r3_t i, .r3_bl i {
	border: 0;
}
.r3_t, .r3_c, .r3_bl {
	background: none;
	border: 0;
}
.r3_t {
	display: none;
}
.cmpBr {
	background: none;
	border: 0;
	height: 0;
}
td#CentralArea div.dynpg, table.pgbc {
	border: 0;
	background: none;
}
td#CentralArea div.dynpg .m {
	width: 100%;
	text-align: center;
}
div.itemseparator {
	border: 0;
	display: none;
}
.rs-pview {
	padding: 0;
}
td#CentralArea span.pdmt {
	/*margin-top: -38px;
	padding-right: 0px;
	float: right;*/
}
.ctrlbr {
	padding: 3px 0;
}

.pagewidth .olp-mr {
	display: none;
}
.pagewidth .olp-tl p {
	display: none;
}
.olp-tl, .olp-tr, .olp-bl, .olp-br {
	border: 0;
}
.olp-tl, .olp-bl, .olp-bl p {
	background: none;
}
.olp-ml {
	border: 0;
	background: none;
}
.olp-tl p {
	border: 0;
	background: none;
}
.olp-tr, .olp-br, .olp-mr {
	background: none;
}
.olp-bl div {
	border: 0;
	display: none;
}
.ml-pm .olp-cnt {
	border: 1px solid #e5e5e5;
	padding: 15px;
}
.pagewidth .dynpg td.pages a.disabled {
}
.pagewidth .pipe {
	display: none;
}
table.gallery img {
	border: 0;
	vertical-align: top;
	margin: 0;
	max-height: 140px;
	max-width: 140px;
}
table.gallery td.picture div.image img.sale {
	width: auto !important;
}
table.gallery td.picture .image a {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
a.ppr {
	color: #1f2398;
	font-size: 10px;
}
table.gallery tr td.details div.ttl img {
	margin-left: 4px;
	display: none
}
table.gallery table.fixed {
	margin-top: 5px;
	width: 100%;
}
table.gallery table.fixed.price-2 {
	margin-top: 0;
}
table.gallery table.fixed tr {
	width: 100%;
	display: table;
}
table.gallery table.fixed tr.price-style {
	margin-bottom: 14px;
}
table.gallery table.fixed tr td .stp {
	text-align: right;
	display: none
}
table.gallery table.fixed tr td:last-child {
	text-align: right;
}
table.gallery table.fixed span.oriprs, table.gallery table.prices span.oriprs {
	font-size: 15px;
	line-height: 20px;
	color: #616161;
	display: none;
}
table.gallery table.fixed span.disct, table.gallery table.prices span.disct {
	margin-top: 4px;
	display: none;
}
table.gallery table.fixed tr td {
	display: table-cell;
	width: 50% !important;
}
table.gallery table.fixed tr td.basics {
	display: none
}
.pagewidth .stBadge {
	margin-top: 7px;
	min-width: 100px
}
.pagewidth .stBadge img {
	width: auto;
	max-width: 100%
}
.pgbc {
	padding: 0;
}
td#CentralArea div.dynpg {
	padding-top: 20px;
}
td#CentralArea div.dynpg .m .pager {
	margin: 0px auto;
	display: inline-block;
}
#TopPromoArea {
	display: none;
}
.pagewidth div.r3_cm {
	padding: 6px 10px 0px 56px;
}
.pagewidth .fpcc {
	padding: 5px 0;
	margin-top: -10px;
}

/* End style store */
@media only screen and (max-width: 1200px) {
.pagecontainer table tr td table:nth-child(2) {
	max-width: 100% !important;
}
table.gallery tr td.details div.ttl {
	height: 37px;
}
table.gallery table.fixed tr td .bin.g-b {
	font-size: 14px !important;
}
}

@media (min-width:769px) and (max-width:991px) {
/* store */

.col-left .box-brand h2 {
	font-size: 21px;
}
.v4acp_head .v4title h2::before {
	left: 0;
}
.v4acp_head .v4title h2 {
	text-indent: 40px;
}
.pagewidth .fpcc .smuy span {
	font-size: 25px;
}
.pagewidth table.gallery {
	margin-top: 0px !important;
}
}

@media only screen and (max-width: 991px) {
.pagecontainer table tr td table:nth-child(2) {
	max-width: 100% !important;
}
.pagewidth table.gallery {
	margin-bottom: 0 !important
}
}

@media(max-width: 940px) {

.trustmaker-footer .box p {
	font-size: 13px;
}
/* page home */
.promotions .box-promotion {
	margin-right: 3%
}
}

@media(width: 768px) {

	.pagewidth td#CentralArea div.v4stabl {
		display: none;
		float: right;
		padding-right: 10px;
		position: relative;
		right: 0px;
		text-align: right;
		top: 15px;
		width: 500px;
		font-size: 13px;
		color: #000000 !important;
	}
	.pagewidth td#CentralArea div.v4stabl a {
		color: #000 !important;
	}
.menu-header ul a {
	font-size: 13px
}
.promotions .box-promotion {
	margin-right: 4%
}
.promotions p img {
	width: 35px;
}
.promotions p {
	font-size: 11px;
	line-height: 14px
}
.promotions p strong {
	font-size: 12px;
}
.list-brand #slides-product article {
	width: 16.3%;
}
.cat-box li .category-name a::before {
	height: 64px;
	top: 36%
}
.cat-box li .category-name a {
	font-size: 21px;
	line-height: 42px;
	height: 45px;
	margin-top: 44%
}
.static-block-content {
	padding: 30px
}
.pagewidth .menu-header .navigation li a {
	font-size: 14px;
	padding: 0 7px;
}
.pagewidth .menu-header .add-favourites a {
	font-size: 14px;
	padding: 0 10px 0 20px;
}
.pagewidth .box-trustmakers .list-box {
	padding: 0 3px;
}
.pagewidth .box-trustmakers .list-box:first-child {
	padding: 0 6px 0 0
}
.pagewidth .box-trustmakers .list-box:last-child {
	padding: 0 0 0 6px
}
.pagewidth .box-trustmakers .box p {
	font-size: 12px;
}
.pagewidth .box-trustmakers .box p strong {
	font-size: 13px;
}
.sub-page .col-left {
	padding: 0 20px 0 10px
}
.v4acp_head .v4title h2::before {
	left: 11%;
	font-size: 22px
}
.pagewidth .fpcc .smuy span {
	font-size: 20px;
}
table.gallery table.fixed tr td .bin.g-b {
	font-size: 12px;
}

.pagewidth .box-trustmakers, .pagewidth .banner, .pagewidth #CentralArea {
	padding-left: 0;
}
.v4acp_head .v4title h2, .col-left .box-brand h2 {
	font-size: 21px;
}
table.gallery table.fixed span.oriprs, table.gallery table.prices span.oriprs {
	font-size: 12px;
}
table.gallery tr td.details table.fixed img {
	max-width: 50px;
}
.pagewidth .header-container .header-content .logo-content img {
	width: 320px;
	margin-top: 13px
}
.pagewidth .link-subpage li a {
	padding: 0 10px;
}
.pagewidth .search-content {
	width: 250px;
}
.pagewidth .link-subpage {
	margin-left: 20px;
}
.sub-page .col-left input + label {
	font-size: 20px;
	left: 7%
}
.pagewidth .footer-bottom .box-footer {
	width: 30%
}
.pagewidth .footer-bottom .box-footer:last-child {
	width: auto;
}
}

@media(max-width: 767px) {

/* Make the Magic Happen */

.listing-right-content {
	padding-top: 25px;
}
.listing-right-content .box-images-details, .listing-right-content .product-shop-container {
	width: 100%;
	float: none;
	padding: 0;
	position: initial;
}
.listing-right-content .product-view-name {
	max-height: none;
	font-size: 24px;
	line-height: 32px;
}
.listing-right-content .product-view-name-sku, .listing-right-content .product-view-name-sku p {
	font-size: 14px;
	line-height: 18px;
}
.listing-right-content .price {
	padding-top: 15px;
}
.listing-right-content .product-shop-container:last-child {
	top: 0;
}

main {
	border: 0;
	margin: 27px 0 0 0
}
main::before {
	display: none;
}
main label {
	width: 100%;
	margin: 0 0 2px;
	display: block;
	position: relative
}
main input:checked + label {
	border-bottom: 1px solid #ccc
}
main section {
	padding: 14px 10px 17px;
	margin: 0
}
main section .content-right, main section .content-left {
	width: 100%;
	padding: 0;
}
.trustmaker-footer {
	display: none
}
.pagewidth .footer .container {
	padding: 0 10px;
}
.footer-bottom {
	font-size: 13px;
	margin-top: 20px;
}
.footer-bottom, .footer-copy {
	background: none
}
.footer .footer-content {
	padding-left: 20px;
	padding-right: 20px;
}
.footer-bottom .footer-content {
	padding-bottom: 28px;
}
.footer-bottom .box-footer {
	width: 33.3%
}
.footer-bottom .box-footer h2 {
	font-size: 16px;
	line-height: 21px;
}
.footer-bottom .box-footer a, .footer-bottom .box-footer:nth-child(3) p {
	font-size: 13px;
}
.footer-bottom .box-footer:nth-child(2) p {
	width: 193px;
}
.footer-bottom .box-footer:nth-child(3) {
	width: 168px;
}
.footer-copy p {
	width: 100%;
	float: none;
	text-align: center;
}
.footer-copy p:last-child {
	padding-top: 20px;
}
.rainstorm {
	padding: 10px 0 0;
	display: block;
}
/* page home */
.pagewidth .menu-header .container {
	padding: 0
}
.promotions-content {
	width: 100%
}
.promotions {
	padding: 12px 0
}
.promotions p img {
	width: 26px;
}
.promotions p {
	font-size: 8.24px;
	line-height: 11px;
}
.promotions p strong {
	font-size: 8.88px;
	line-height: 12px;
}
.promotions .box-promotion {
	margin-right: 8%
}
.product-list {
	padding-top: 40px;
}
.cat-box li {
	margin: 20px 3% 0 0;
	width: 31.3%
}
.cat-box li .category-name a {
	font-size: 18px;
	line-height: 30px;
	height: 36px;
	margin-top: 49%
}
.cat-box li .category-name a:before {
	height: 60px;
	top: 40%
}
.static-block-content {
	padding: 20px
}
.static-block-content p {
	font-size: 14px;
	line-height: 19px;
}
.static-block-content span:first-child {
	font-size: 60px;
	line-height: 45px
}
/* page store */

table.tb_v4bc tr td {
	padding: 0 10px;
}
td#LeftPanel + td {
	display: none
}
td#LeftPanel + td +td {
	display: block;
	width: 100%;
	margin-top: 0;
}
td#LeftPanel {
	display: inline-block;
	width: 100% !important;
	padding: 0 20px;
	margin-top: 0;
}
#LeftPanel .v4acpcont > tbody > tr:first-child + tr {
	display: none
}
#LeftPanel .v4acpcont:hover > tbody > tr:first-child + tr {
	display: block
}
#LeftPanel .v4acpcont table, #LeftPanel .v4acpcont tbody, #LeftPanel .v4acpcont tr, #LeftPanel .v4acpcont td {
	width: 100%;
	display: block
}
table.v4acpcont .v4title h2 {
	text-indent: 0;
}
.v4title h2 {
	padding: 0;
}
table.v4acp tr.v4acp_head td.v4title {
	font-size: 1.12em;
	color: #ffffff;
	text-transform: uppercase;
	text-align: left;
	text-indent: 19px;
	font-weight: bold;
	position: relative;
	padding: 0;
}
table.v4acpcont .v4title h2:before {
	padding-left: 0px;
	left: 0;
}
table.v4acpcont .v4title h2:after {
	border: 0;
	position: absolute;
	top: 0px;
	left: auto;
	right: 0;
	width: 50px;
	height: 50px;
	line-height: 33px;
	content: '+';
	color: #ffffff;
	font-weight: bold;
	font-size: 24px;
	background: none;
	z-index: 11;
	text-align: center;
	transition: 0.3s all ease-in-out;
}
table.v4acpcont .v4title:hover h2:after {
	content: "-";
	transition: 0.3s all ease-in-out;
}
table.v4acpcont:hover .v4title h2:after {
	display: none
}
.v4midBox.v4nfc .v4acp_mid .v4mid .lcat {
	border-top: none;
}
.pagewidth .fpcc .smuy span {
	font-size: 22px;
}
table.v4acpcont {
	margin-bottom: 0px !important;
}
#LeftPanel + td {
	display: none;
}
 {
	margin-bottom: 0;
}
.pagewidth .fpcc {
	padding: 10px 0;
}
table.gallery tr td.details div.ttl {
	height: 37px;
}
 {
}
.pagewidth table.gallery {
	margin-bottom: 0px;
	margin-top: 0px !important;
}
}

@media(max-width:667px) {
table.gallery table.fixed tr td .bin.g-b {
	font-size: 18px;
}
}

@media(max-width:640px) {
/* style store */
table.gallery table.fixed tr td .bin.g-b {
	font-size: 16px;
}
 {
}
}

@media(max-width:639px) {
/* style store*/
.pagewidth .menu-header .navigation {
	margin-top: 0;
}
.col-left .box-brand ul li {
	width: 50%
}
 {
	width: 100%;
	display: block
}
table.gallery tr td.details div.ttl {
	height: auto;
}
table.gallery tr td.details div.ttl {
	height: auto;
}
table.v4acpcont {
	margin-bottom: 15px !important
}
table.gallery tr td.details {
	height: auto;
}
.pagewidth div.r3_cm div.rs_box .dynpg .m .pager .pages a {
	padding: 5px 5px
}
.pagewidth .fpcc, .pagewidth div.r3_cm div.rs_box div.ctrlbr {
	text-align: center
}
td#CentralArea span.pdmt {
	position: inherit;
}
}

@media(max-width:480px) {
/* page home */
.pagewidth .promotions {
	padding: 20px 0
}
.cat-box li .category-name a:before {
	top: 39%
}
/* store */
.pagewidth .fpcc .smuy span {
	font-size: 18px;
	line-height: 22px;
}
}

@media(max-width:414px) {
/* store*/
.pagewidth .fpcc .smuy span {
	font-size: 16px;
	line-height: 20px;
}
#PreviewLayer_olp_pad > div {
	height: auto !important
}
#PreviewLayer {
	max-width: 90% !important;
	display: inline-block;
}
#PreviewLayer .ic-w400.ic-m {
	display: inline-block;
	width: 100%;
}
#PreviewLayer .ic-w400.ic-m center {
	width: 100% !important;
	height: auto !important;
	display: inline-block;
}
#PreviewLayer .ic-w400.ic-m center img {
	width: 100% !important;
	float: left;
	height: auto !important;
}
.olp-cnt, div.vsc, .ic-cp {
	max-width: 310px !important;
}
div.vsc table, div.vsc tr, div.vsc td, div.vsc div {
	max-width: 300px !important;
}
.ic-w400.ic-m {
	height: auto;
	width: 100%;
}
.ic-w400 {
	height: auto;
	width: 98% !important;
	overflow: inherit;
}
.ic-cntr .ic-b1 {
	padding: 10px;
	max-width: 310px !important;
	height: auto !important;
	border: 0 !important
}
#v4-56 {
	height: auto !important
}
.ic-cp {
	border: 1px solid #ececec;
	display: inline-block;
	width: 100%;
}
.pagewidth div.r3_cm div.rs_box .dynpg .m .pager .pages a {
	margin: 0 4px 0 0
}
}
